div{
    padding:1rem;
    max-width:60%;
    margin: 20px auto;
}

div h1{
    text-align:center;
    margin-top: 5rem;
}
form{
    padding:1rem;
    border:2px dashed #ffffff;
    border-radius:3px; 
    text-align:center;
}